body {
    font-family: 'Sora, sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.background-image {
    background-image: url('../image_files/Room_BackGround.jpg');
    background-repeat: no-repeat;
    background-position: center; /* Adjust the position of the background image if needed */
    background-size: cover; /* Scale the background image to cover the entire container */
    height: 100vh; /* Set initial height to 0 */
    position: relative; /* Ensure proper positioning of other elements */
    overflow: hidden; /* Hide any content that may overflow the container */
}



